[project]
	description = A JavaScript visualization library for HTML and SVG.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Junu Kang (ijunes)
[access "refs/for/refs/*"]
	read = group user/Junu Kang (ijunes)
	push = group user/Junu Kang (ijunes)
	label-Code-Review = -2..+2 group user/Junu Kang (ijunes)
	label-Verified = -1..+1 group user/Junu Kang (ijunes)
	rebase = group user/Junu Kang (ijunes)
	removeReviewer = group user/Junu Kang (ijunes)
	submit = group user/Junu Kang (ijunes)
[access "refs/heads/*"]
	read = group user/Junu Kang (ijunes)
	create = group user/Junu Kang (ijunes)
	push = +force group user/Junu Kang (ijunes)
	pushMerge = group user/Junu Kang (ijunes)
[access "refs/tags/*"]
	push = +force group user/Junu Kang (ijunes)
	pushTag = group user/Junu Kang (ijunes)
	pushSignedTag = group user/Junu Kang (ijunes)
